{% extends 'tagpubDev/base.html' %}
{% load static %}

{% block body_block %}
    <div class="container py-4">

        <div class="p-5 mb-4 bg-light border rounded-3 ">
            <h3>User information</h3>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col"><p class="fw-bold">Login name(eMail):</p> {{ user.get_username }}</div>
                    <div class="col"><p class="fw-bold">Name:</p> {{ user.get_full_name }}</div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col"><p class="fw-bold">Date joined:</p> {{ user.date_joined }}</div>
                    <div class="col"><p class="fw-bold">Last login:</p> {{ user.last_login }}</div>
                </div>
            </div>
            <hr>
            <form class="form-div" method="post">
            {% csrf_token %}
            <p></p>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <div id="searchHelp" class="form-text">Set a new password for your account</div>
            <input class="confirm_action" type="submit" name="" value="Set password">
            </form>

            <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>


        </div>
    </div>

{% endblock %}